body {
  font-family: 'Inter', sans-serif;
}
header,nav {
  background-color: white;
}
.nav-link:hover {
  color: hsl(5, 85%, 63%);
}
.main-grid {
  margin-top: 5em;
  display: grid;
  gap: 30px;
  grid-template-areas: 
  'a a d'
  'b c d'
  ;
}
.grid-a {
  grid-area: a;
}
.grid-b {
  grid-area: b;
}
.grid-b h1 {
  color: hsl(240, 100%, 5%);
}
.grid-c {
  grid-area: c;
}
.grid-c button {
  background-color: hsl(5, 85%, 63%);
  color: white;
  border-radius: 0;
}
.grid-c button:hover {
  background-color: hsl(240, 100%, 5%);
  color: white;
}
.grid-c p {
  color: hsl(236, 13%, 42%);
  font-size: 15px;
}
.grid-d {
  grid-area: d;
  background-color: hsl(240, 100%, 5%);
  color: white;
}
.grid-d h1 {
  color: hsl(35, 77%, 62%);
}
.grid-d h4 {
  font-size: 20px;
}
.grid-d h4:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}
.grid-d p {
  font-size: 15px;
}
.grid-d div {
  border-bottom: 1px solid white;
}
.section-2 img {
  height: 8em;
}
.section-2 h2 {
  color: hsl(236, 13%, 42%);
}
.section-2 h4 {
  color: hsl(240, 100%, 5%);
  font-size: 20px;
}
.section-2 h4:hover {
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}
.section-2 p {
  color: hsl(236, 13%, 42%);
  font-size: 13px;
}
@media (max-width:768px) {
  .main-grid {
    display: flex;
    flex-direction: column;
  }
  .mobile-img {
    display: block !important;
  }
  .desktop-img {
    display: none;
  }
}